@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*    background colors     */
    --intro-bg-clr: hsl(217, 28%, 15%);
    --main-bg-clr: hsl(218, 28%, 13%);
    --footer-bg-clr: hsl(216, 53%, 9%);
    --testimonial-bg-clr: hsl(219, 30%, 18%);

    /*     accent colors      */
    --cta-gradient-teal: hsl(176, 68%, 64%);
    --cta-gradient-cyan: hsl(198, 60%, 50%);
    --error-state-clr: hsl(0, 100%, 63%);

    /*    font settings    */
    --ff-sans: 'Open Sans', sans-serif;
    --ff-raleway: 'Raleway', Arial;
    --fs-p: clamp(.875rem, 1.5vw, 1rem);
    --fs-p-card: clamp(.75rem, 1.25vw, 1rem);
    --fs-h1: clamp(1.25rem, 4vw, 2rem);
    --fs-h2: clamp(1.15rem, 2vw, 1.75rem);
    --fs-h3: clamp(1.15rem, 1.75vw, 1.65rem);
    --fs-h4: clamp(1.05rem, 1.5vw, 1.5rem);
    --fs-h5: clamp(.75rem, 1.5vw, 1.3rem);
    --font-clr-h: hsl(0, 0%, 100%);
    --font-clr-p: hsl(0, 0%, 80%);
    --fw-400: 400;
    --fw-700: 700;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-size: var(--fs-p);
    font-weight: var(--fw-400);
    color: var(--font-clr-p);
    font-family: var(--ff-sans);
}

/*                  Header Section                       */

header {
    padding: 3.5rem 3.5rem;
    background-color: var(--intro-bg-clr);
    border-bottom: 3px solid var(--intro-bg-clr);
}

@media screen and (width <= 500px) {
    header {
        padding: 1.5rem 1rem;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--font-clr-h);
    font-weight: var(--fw-700);
    font-family: var(--ff-raleway);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: clamp(5rem, 15vw, 10rem);
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
}

@media screen and (width <= 500px) {
    .nav-links ul {
        gap: 1.25rem;
    }
}

.nav-links ul li {
    font-size: var(--fs-p);
}

.nav-links a {
    color: var(--font-clr-p);
    font-family: var(--ff-raleway);
    text-decoration: none;
    font-size: clamp(.65rem, 2vw, .895rem);
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--font-clr-h);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--intro-bg-clr);
    background-color: var(--intro-bg-clr);
}                      

section {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

section p {
    font-weight: var(--fw-400);
    color: var(--font-clr-p);
}

section:not(.cta-flex) {
    background-color: var(--main-bg-clr);
}

/*                  Section 1                       */

section.cta-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-image: url('images/bg-curvy-desktop.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    padding-bottom: 3rem;
}

section.cta-flex .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45%;
    gap: 2rem;
}

@media screen and (width <= 500px) {
    section.cta-flex {
        padding: 0 1.5rem 2.5rem 1.5rem;
    }

    section.cta-flex .group {
        max-width: 100%;
    }
}

/*    Context: if the section has an h1 with a direct child of p, then apply these styles.    */
section.cta-flex:has(h1 + p) {
    text-align: center;
}
/*    Sorry! Had to do it because the original code was messing with 
      my other sections despite me CLEARLY stating for it to apply strictly to my
      ".cta-flex" section. This took me about 10 minutes digging through the dev
      tools to fix! So, I guess this is a great learning opportunity for something
      supposedly NOT to do and how to diagnose this issue for those who spend the
      time reading this. I guess it was Specificity being "too" specified that even
      it got confused on how to apply it. :'D Alright, rant is over.      */

section.cta-flex h1 {
    font-weight: var(--fw-700);
    font-size: var(--fs-h1);
    max-width: 35ch;
    line-height: 1.5;
}

section.cta-flex p {
    font-size: clamp(var(--fs-p), 4vw, 1rem);
    max-width: 53ch;
    line-height: 1.7;
}

section.cta-flex button {
    cursor: pointer;
    min-width: 30%;
    min-height: 2.5rem;
    padding: 1rem 4.5rem;
    color: var(--font-clr-h);
    font-family: var(--ff-raleway);
    font-weight: 700;
    background-image: linear-gradient(to right, var(--cta-gradient-teal), var(--cta-gradient-cyan));
    border-radius: 2rem;
    border: none;
    transition: 150ms ease-in-out;
}

.cta-flex button:hover,
.cta-flex button:focus-visible {
    background-image: linear-gradient(to right, hsl(176, 68%, 74%), hsl(198, 60%, 60%));
}

/*                  Section 2                       */

section.product-info-grid {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(min(300px, 100%), 475px));
    gap: 2rem;
}

.product-info-grid .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem;
    text-align: center;
}

.product-info-grid .card .group-text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.product-info-grid .group-text h4 {
    font-size: var(--fs-h4);
    line-height: 1.1;
}

.product-info-grid .group-text p {
    line-height: 1.25;
}

/*              Section 3                 */

section.productivity-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 14rem;
    padding-inline: 2rem;
}

.productivity-flex .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.productivity-flex .content-wrap img:not(.group-flex img) {
    width: 100%;
}

.productivity-flex .group-flex {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    gap: 1rem;
}

.group-flex h2 {
    font-size: var(--fs-h2);
    line-height: 1.35;
    max-width: 15ch;
    padding-bottom: .25rem;
}

.group-flex p {
    line-height: 1.45;
}

.group-flex:not(footer .group-flex) a {
    display: flex;
    gap: .25rem;
    color: var(--cta-gradient-teal);
    text-underline-offset: .5rem;
    transition: all 150ms ease;
}

.group-flex.group-flex:not(footer .group-flex) a:hover {
    color: var(--font-clr-p);
}

/*              Section 4              */

/*    Grid was acting odd for this and finding new breakpoints were getting to be constant,
      so I switched it to flexbox.    */
section.testimonial-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 100%;
    gap: 2rem;
    padding-inline: 2rem;
    padding-bottom: 8rem;
}

section.testimonial-grid article.testimonial {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 2.5rem 2rem;
    gap: 1.5rem;
    max-width: 475px;
}

@media screen and (width <= 500px) {
    section.testimonial-grid article.testimonial {
        max-width: 300px;
    }
}

section.testimonial-grid article.testimonial::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--testimonial-bg-clr);
    border-radius: 5px;
    box-shadow: 2px 3px 6px 0px hsla(216, 27%, 20%, 0.24);
    z-index: 1;
}

section.testimonial-grid article.testimonial:first-child::before {
    position: absolute;
    display: block;
    content: '';
    background-image: url('images/bg-quotes.png');
    background-repeat: no-repeat;
    top: -2.25rem;
    left: -.45rem;
    width: 55px;
    height: 45px;
    z-index: 0;
}

section.testimonial-grid article.testimonial > * {
    position: relative;
    z-index: 2; 
}

section.testimonial-grid article.testimonial .group-person {
    display: flex;
    align-items: flex-start;
    gap: .75rem;
}

section.testimonial-grid article.testimonial .group-person p {
    font-size: var(--fs-p-card);
}

article.testimonial p:not(.group p) {
    font-size: var(--fs-p-card);
}

article.testimonial h5 {
    font-size: var(--fs-h5);
}

section.testimonial-grid article.testimonial img:not(img.quotes) {
    border-radius: 50%;
    width: clamp(1.5rem, 5vw, 2rem);
}

/*               Section 5               */

section.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid var(--main-bg-clr);
    width: 100%;
}

form.cta-2-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    margin-inline: 20%;
    padding: 2.5rem 5rem;
    width: 100%;
    background-color: var(--intro-bg-clr);
    border-radius: 5px;
    transform: translateY(50%);
    box-shadow: 6px 6px 5px 0 hsla(219, 54%, 5%, 0.281);
}

form.cta-2-flex h3 {
    font-size: var(--fs-h3);
}

form.cta-2-flex h3,
form.cta-2-flex p {
    max-width: 80ch;
}

form.cta-2-flex p {
    line-height: 1.7;
}

form.cta-2-flex .group-flex {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1rem;
}

form.cta-2-flex input {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    flex: 1;
    outline: none;
    border: none;
}

form.cta-2-flex input::placeholder {
    color: lightgray;
}

form.cta-2-flex div.errorMessage {
    display: none;
}

form.cta-2-flex button {
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    min-width: 27.5%;
    border: none;
    color: var(--font-clr-h);
    background-image: linear-gradient(to right, var(--cta-gradient-teal), var(--cta-gradient-cyan));
}

form.cta-2-flex button:hover,
form.cta-2-flex button:focus-visible {
    background-image: linear-gradient(to right, hsl(176, 68%, 74%), hsl(198, 60%, 60%));
}



/*               Footer                 */

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 13rem 8rem;
    border-top: 3px solid var(--main-bg-clr);
    background-color: var(--footer-bg-clr);
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
}

footer .group-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--font-clr-p);
    max-width: 40ch;
}

footer .group-flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--font-clr-p);
}

footer li {
    list-style: none;
}

footer ul:not(.group-flex-icons ul) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.group-flex-column-a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 150ms ease-in-out;
}

.group-flex-column-a a:hover,
.group-flex-column-a a:focus-visible {
    color: var(--font-clr-h);
}

.group-flex-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.group-flex-icons ul {
    display: flex;
    gap: 1rem;
}

.group-flex-icons ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-flex-icons a {
    display: flex;
    padding: .65rem;
    border: 1px solid var(--font-clr-h);
    border-radius: 50%;
}

.group-flex-icons a:hover,
.group-flex-icons a:focus-visible {
    border-color: var(--cta-gradient-teal);
}

.group-flex-icons a:hover path,
.group-flex-icons a:focus-visible path {
    fill: var(--cta-gradient-teal);
}

/*                   Media Queries                   */

@media screen and (width <= 1295px) {

    section.testimonial-grid {
        align-items: flex-start;
    }

    footer {
        padding: 13rem 4rem;
    }
}

@media screen and (width <= 1040px) {
    footer {
        padding: 13rem 1rem;
    }

    .productivity-flex .content-wrap {
        flex-direction: column;
    }
}

@media screen and (width <= 980px) {
    section.testimonial-grid {
        flex-direction: column;
    }
}

@media screen and (width <= 956px) {
    form.cta-2-flex {
        padding: 2.5rem 1.5rem;
    }
}

@media screen and (width <= 865px) {
    footer {
        align-items: center;
    }
    footer .footer-container {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (width <= 767px) {
    form.cta-2-flex {
        padding: 2.5rem 1.5rem;
    }

    section.testimonial-grid article.testimonial {
        padding: 1.5rem 1rem;
    }
}

@media screen and (width <= 740px) {
    form.cta-2-flex .group-flex {
        flex-direction: column;
    }
}

@media screen and (width <= 650px) {
    section.product-info-grid {
        grid-template-columns: 1fr;
    }

    section.productivity-flex {
        flex-direction: column;
        padding-inline: 1.5rem;
    }

    .productivity-flex img:not(.group-flex img) {
        max-width: 100%;
    }

    .productivity-flex .group-flex h2 {
        min-width: 100%;
    }

    form.cta-2-flex {
        flex-direction: column;
        padding: 2rem 1rem;
        width: 100%;
    }

    form.cta-2-flex .group-flex {
        flex-direction: column;
    }
}

@media screen and (width <= 500px) {
    section.productivity-flex {
        padding-bottom: 9rem;
    }
    
    section.testimonial-grid {
        padding: 4rem 2rem;
    }
    
    form.cta-2-flex {
        margin-inline: 5%;
    }

    footer .footer-container {
        flex-direction: column;
    }

    .group-flex-column-a ul {
        gap: .5rem;
    }

    footer {
        padding-bottom: 4rem;
    }
}

@media screen and (width <= 414px) {
    form.cta-2-flex .group-flex {
        flex-direction: column;
    }
}
